html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial ';
    background-color:  #FEF3E2; /* Fondo crema ligeramente amarillento */
}

.navbar {
    background-color:  #FFA07A;
}

.nav-link {
    color:  #FEF3E2 !important;
}

.navbar-brand button a {
    color:  #FEF3E2 !important;
    font-family: 'Arial Black', sans-serif;
    font-weight: bold;
}

.card {
    background-color: #fcb29b;
    border: none;
}

.card-title {
    color: #FEF3E2;
}

.form-control {
    background-color: #FEF3E2 !important;
}

.btn-primary {
    background-color:  #FFA07A;
    border: none;
}

.footer {
    background-color:  #FFA07A;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .text-muted {
    color:  #FEF3E2 !important;
}

.footer a {
    color: #FEF3E2 !important;
}

.social-icons i {
    font-size: 1.5rem;
}

.login-bar, .admin-bar {
    background-color: #FA812F;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Custom button colors */
.btn-edit {
    border: none;
}

.btn-delete {
    border: none;
}

/* Table border */
.table-bordered {
    border: 2px solid  #FFA07A;
}

/* Estilos para la barra de navegación */
.color_naranja {
    background-color: #FFA07A;
    color: #FEF3E2;
}

.color_amarillo {
    background-color: #FA812F;
    color: #FEF3E2;
}
.color_blanco{
    color: #FEF3E2;
}

.color_rojo{
    background-color: #FA4032;
}

body {
    font-family: 'Arial', sans-serif;
}
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}
.inactive {
    opacity: 0.5;
}

/* Agrega este CSS a tu archivo de estilos */
.inactivo {
    background-color: #00000021; /* Un tono de gris claro para las filas inactivas */
    color: #000000; /* Un color de texto más tenue */
}

