/* Colores reutilizables */
.background-color, .menu-item, .color_naranja, .footer-info {
    background-color: #FFA07A;
}

.color_blanco, .footer-info, .menu, .color_naranja, .color_amarillo {
    color: #FEF3E2;
}

.color_rojo {
    background-color: #FA4032;
}

.color_amarillo {
    background-color: #FA812F;
}

/* Estilos generales */
body, li, .texto, a {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 19px;
    color: black;
}

p {
    font-family: 'Arial', Arial, sans-serif;
    color: black;
}

h1, h2, h3, h4, h5, .subtitulo, .logo {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: black;
}

/* Estilos de componentes */
.banner, .background-blanco {
    text-align: center;
    padding: 4em 0;
}


.cta {
    margin: 1em;
}

.footer-info {
    padding: 2em 0;
}

.footer-info div, .menu-item, .social-media {
    margin: 1em 0;
}

.social-media {
    margin: 2em 0;
}

/* Menú */
.menu-item {
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}

/* Logo */
.logo, .img {
    display: flex;
    align-items: center;
    justify-content: end;
}

.img_logo {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

/* Navbar */
.navbar, .color_naranja {
    background-color: #FFA07A;
    color: #FEF3E2;
}

.nav-link{
    color: black;
}

/* Otros estilos */
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.767);
}

.carousel-container {
    position: relative;
    height: 100vh;
}

.carousel-inner img {
    height: 50vh;
    width: 70%;
    object-fit: cover;
}

.content-section {
    margin-top: -300px; /* Ajuste de margen superior para juntar las secciones */
}

.content-button {
    font-size: 20px;
    font-weight: bold;
}
