/* Reutilizable color de fondo */
.background-color {
    background-color: #FFA07A;
}

/* Estilos para el banner */
.banner {
    text-align: center;
    padding: 4em 0;
    background-color: #FEF3E2;
}

.banner h1 {
    font-size: 2.5em;
}

.cta {
    margin: 1em;
}

/* Estilos para la sección de pie de página */
.footer-info {
    background-color: #FFA07A;
    color: #FEF3E2;
    padding: 2em 0;
}

.footer-info div {
    margin: 1em 0;
}

/* Estilo para los elementos de redes sociales */
.social-media {
    margin: 2em 0;
}

/* Estilo para los elementos del menú */
.menu-item {
    background-color: #FFA07A;
    padding: 1em;
    margin: 1em 0;
    border-radius: 10px;
    text-align: center;
}

.menu {
    color: #FEF3E2;
}

/* Estilos para el logo en la barra de navegación */
.logo {
    justify-content: end;
    display: flex;
}

.img_logo {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

/* Estilos para la barra de navegación */
.color_naranja {
    background-color: #FFA07A;
    color: #FEF3E2;
}

.color_amarillo {
    background-color: #FA812F;
    color: #FEF3E2;
}
.color_blanco{
    color: #FEF3E2;
}

.color_rojo{
    background-color: #FA4032;
}

.navbar-brand.logo .zarape {
    color: black; /* Color del texto normal */
    transition: color 0.3s; /* Suaviza la transición del color */
}

.navbar-brand.logo:hover .zarape {
    color: white; /* Color del texto cuando se pasa el cursor */
}

/* Estilos para el texto del logo */
.zarape {
    margin: 5px;
    padding: 5px;
}
.img{
    margin: 20px auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: 700px;

}

body {
    font-size: 25px;
    background-color: #FEF3E2;
}

/* Estilo para el logo */
.zarape {
    font-family: 'Arial Black', Arial, sans-serif;
    font-weight: bold;
}

/* Estilo para los subtítulos */
h1 h2 h3 h4 h5 .subtitulo{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

/* Estilo para el texto simple */
body p, a, li .texto{
    font-family: 'Arial', sans-serif;
}


.tamaño_a{
    padding: 20px;
}


.bordes{
    border-radius: 10px;
}

.tamaño_div{
    padding: 20px;
    width: 500px;
}

.img_fluit{
    margin: 20px;
}