/* General Styles */
 .color-naranja {
    background-color: #FFA07A;
    font-size: 20px;

}

.color-amarillo {
    background-color: #FA812F;
    color: #FEF3E2;
}

.color-blanco {
    background-color: #FEF3E2;
    color: black;
}

.color-rojo {
    background-color: #FA4032;
}

/* Navbar */
.navbar {
    background-color: #FFA07A;
}



.nav-link {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: bold; /* Poner en negrita */
    font-size: 1.2rem; /* Aumentar el tamaño del texto */
    color: black;
}

/* Otros estilos existentes */

.navbar-brand,a{
    color: black;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: bold; /* Poner en negrita */
    font-size: 1.2rem;
}

/* Menu Items */
.menu-item, .item-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 3px solid #3a3a3a6b;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.menu-item:hover, .item-container:hover {
    background-color: #FFA07A;
}

.menu-item img, #menu img, .item-img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.menu-item-info, .item-info {
    flex: 1;
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selected {
    background-color: #FA4032;
    border-color: #FA4032;
    color: #FEF3E2;
}

/* Item Card */
.item-card {
    display: flex;
    width: 100%;
}

.item-img {
    width: 30%;
}

.item-info {
    width: 70%;
    padding: 15px;
}

.item-title {
    font-size: 1.25rem;
    margin: 0;
}

.item-description {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.item-price, .item-quantity {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

.item-quantity {
    font-size: 1rem;
    margin: 0.5rem 0;
}

/* Order Summary and Payment Form */
.order-summary, .payment-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FEF3E2;
    padding: 20px;
    border: 1px solid #FEF3E2;
    z-index: 1050;
}

.order-summary-content, .payment-form-content {
    text-align: left;
}

.mb-3 {
    margin-bottom: 1rem;
}

/* Modal */
.modal-content {
    background: #FEF3E2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente oscuro */
    z-index: 1040; /* Debajo del resumen del pedido y del formulario de pago */
    display: none; /* Oculto por defecto */
}

.div_content{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px solid #fa3f3260;
    padding: 40px;
    margin: 0%;
}
/* Estilo para los subtítulos */
h1, h2, h3, h4, h5, .subtitulo, .logo{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

/* Estilo para el texto simple */
body , li, .texto, a{
    font-family: 'Arial Black', Arial, sans-serif;
}

 p{
    font-family: 'Arial', Arial, sans-serif;
}

.logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}