
.color-blanco, .footer-info, .color-amarillo {
    color: #FEF3E2;
}

.color-rojo {
    background-color: #FA4032;
}

.color-amarillo {
    background-color: #FA812F;
}

body, .texto, a {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 19px;
    color: black;
}

p, li {
    font-family: 'Arial', Arial, sans-serif;
    
}

h1, h2, h3, h4, h5, .subtitulo, .logo {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    
}

/* Logo */
.logo, .img_logo {
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 20px;
}

/* Navbar */
.navbar, .color-naranja {
    background-color: #FFA07A;
    color: #FEF3E2;
}

.nav-link{
    color: black;
}
