

.color-rojo {
    background-color: #FA4032;
}

.color-amarillo {
    background-color: #FA812F;
}

.navbar, .color-naranja {
    background-color: #FFA07A;
}

.color-blanco{
    color: #FEF3E2;
}
body,  a {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 19px;
    color: #FEF3E2;
}

p, li {
    font-family: 'Arial', Arial, sans-serif;
    
}

h1, h2, h3, h4, h5, .subtitulo, .logo {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-weight: bold;
    
}

/* Logo */
.logo, .img_logo {
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 20px;
}

/* Navbar */

.nav-link, .title, footer{
    color: black;
}

.sucursal {
    margin-bottom: 50px;
}
.sucursal img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}
.sucursal-info {
    text-align: center;
    margin-top: 15px;
}
        .full-width {
    width: 100vw; /* Asegura el ancho completo del viewport */
    margin-left: calc(50% - 50vw); /* Ajusta el margen para que el div esté centrado */
}
