html, body {
    height: 100%;
    margin: 0;
    background-color: #fffacd; /* Fondo crema ligeramente amarillento */
}

.navbar {
    background-color: #f69363 !important;
}

.nav-link {
    color: #fff !important;
}

.navbar-brand {
    color: #fff !important;
    font-family: 'Arial Black', sans-serif;
    font-weight: bold;
}

.card {
    background-color: #fcb29b;
    border: none;
}

.card-title {
    color: #fff;
}

.form-control {
    background-color: #fff !important;
}

.btn-primary {
    background-color: #e55934;
    border: none;
}

.footer {
    background-color: #f69363;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .text-muted {
    color: #fff !important;
}

.footer a {
    color: #fff !important;
}

.social-icons i {
    font-size: 1.5rem;
}

.login-bar, .admin-bar {
    background-color: #ed7d31;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Custom button colors */
.btn-edit {
    background-color: #f69363 !important; /* Azul */
    color: #fff !important;
    border: none;
}

.btn-delete {
    background-color: #e55934 !important; /* Amarillo */
    color: #fff !important;
    border: none;
}

/* Table border */
.table-bordered {
    border: 2px solid #f69363;
}
